.app {
    background: #121214;
}

.asideContainer {
    display: flex;
    margin-left: 8rem;   
    margin-top: 4rem;
}

.postContainer {
    background: rgb(196, 162, 162);
    margin:0 4rem;
}

.postProfile {

}

.postProfile h5 {
    font-weight: bold;
}

.postProfile p {
    font-weight: lighter;
}

.postContainer h5,p {
    color: aliceblue;
}

.postContent {

}