.comment {
    margin-top: 2rem;
     
}

.comment img {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.commentBox {
    flex: 1;
}

.commentContent {
    background: var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
}

.commentContent header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment textarea {
    margin-top: 8px;
    border-radius: 8px;
    outline: none;
    display: flex;
}

.commentBox button {
}

.commentBox button:hover {
    background-color: var(--green-300);
}

.commentBox textarea:focus-visible[button] {
    display: visible;

}
